// Big Logo
.big-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  h1 {
    color: var(--secondary-color);
    font-size: var(--font-xxxlarge);
    user-select: none;
    &:after {
      content: ".";
      color: var(--primary-color);
    }
  }
}
