// Big Logo
.big-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: var(--spacer-medium);
  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h1 {
      color: var(--secondary-color);
      font-size: var(--font-xxxlarge);
      user-select: none;
      &:after {
        content: ".";
        color: var(--primary-color);
      }
    }
  }
}

// Button
.button-wrap {
  margin: var(--spacer-medium);
  &:last-child {
    margin-right: 0;
  }
  a {
    text-decoration: none;
  }
  .button-content {
    font-size: var(--spacer-medium);
    border: 1px solid black;
    text-decoration: none;
    max-height: var(--spacer-xxlarge);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row-reverse;
    background: transparent;
    svg {
      padding: var(--spacer-xsmall);
      width: 100%;
      max-width: 25px;
      transition: 0.2s ease-in;
      height: inherit;
    }
    p {
      font-weight: var(--bold-weight);
      color: var(--secondary-color);
      transition: 0.2s ease-in;
      padding-right: var(--spacer-small);
    }
    &:hover {
      cursor: pointer;
      p {
        color: var(--primary-color);
      }
      svg {
        transform: translateX(3px);
        fill: var(--primary-color);
      }
    }
  }
}

// TextLine
.text-line {
  font-size: var(--spacer-large);
  margin: var(--spacer-medium);
  user-select: none;
  margin-top: var(--spacer-xxxlarge);
}
