// header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  .welcome-msg {
    display: flex;
    user-select: none;
  }
  .button {
    @include default-btn;
    margin-left: 5px;
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--footer-height);
}

// PoweredBy
.powered-by {
  display: flex;
  align-items: center;
  p {
    margin-right: 4px;
  }
  svg {
    max-width: 40px;
  }
}

// Sections

// Welcome Section
.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
