// header
header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin: var(--spacer-medium) 0;
  .welcome-msg {
    display: flex;
    user-select: none;
  }
  .button {
    @include default-btn;
    margin-left: 5px;
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// PoweredBy
.powered-by {
  display: flex;
  align-items: center;
  p {
    margin-right: 4px;
  }
  svg {
    max-width: 40px;
  }
}
