/* CSS needed site-wide */

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%; //1rem = 10px
}

body {
  height: 100%;
  font-family: var(--primary-font);
}

textarea,
input,
button,
a {
  outline: thin;
}

button,
input,
textarea {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.content {
  width: 100%;
  max-width: var(--content-width);
  padding: 0 var(--spacer-small);
  margin: 0 auto;
}

.logo {
  max-width: 60px;
  height: 100%;
  user-select: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
