// header
header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin: var(--spacer-medium) 0;
  .welcome-msg {
    display: flex;
    user-select: none;
  }
  .logo {
    max-width: 60px;
    height: 100%;
    user-select: none;
  }
  .button {
    @include default-btn;
    margin-left: 5px;
  }
}
