// Section Wrap
.section-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin: 0 auto;
  padding: 0 var(--spacer-small);
}

// Title
.title {
  color: var(--primary-color);
  font-size: var(--font-xxxlarge);
  display: flex;
  justify-content: center;
  user-select: none;
}
