// Updates by date & tags
.all-updates-date,
.all-updates-tags,
.all-my-updates {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  .content {
    .single-update {
      user-select: none;
      margin-bottom: var(--spacer-medium);
      .top-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          display: flex;
          align-items: center;
          .dash {
            margin: 0 var(--spacer-small);
          }
        }
        .remove {
          font-weight: bold;
          font-size: var(--font-large);
          padding: 0 var(--spacer-small);
          @include default-transition;
          &:hover {
            cursor: pointer;
            color: var(--primary-color);
          }
        }
      }
    }
  }
  &.all-updates-tags {
    .content {
      .single-update {
        .top-wrap {
          .left {
            .tags {
              display: flex;
              .tag {
                &:after {
                  content: ",";
                }
                &:last-child {
                  &:after {
                    content: "";
                  }
                }
              }
            }
          }
        }
      }
      .tags-form {
        display: flex;
        margin-bottom: var(--spacer-medium);
        color: var(--primary-color);
        font-weight: var(--bold-weight);
        input[type="text"] {
          margin-left: 10px;
          border: 1px solid var(--secondary-color);
          padding: var(--spacer-xsmall);
        }
        input[type="submit"] {
          color: var(--primary-color);
          padding: 0 var(--spacer-xsmall);
          margin-right: var(--spacer-small);
          font-weight: bold;
          border: none;
          border: 1px solid var(--secondary-color);
          background: var(--light-color);
          padding: var(--spacer-xsmall);
          @include default-transition;
          &:hover {
            cursor: pointer;
            background: var(--primary-color);
            color: white;
          }
        }
      }
      .filter-wrap {
        display: flex;
        align-items: center;
        user-select: none;
        margin-bottom: var(--spacer-large);
        h3 {
          margin-right: var(--spacer-medium);
          span {
            color: var(--primary-color);
          }
        }
        .filter-btn {
          margin-left: var(--spacer-small);
          color: var(--primary-color);
          font-weight: var(--bold-wight);
          padding: var(--spacer-xsmall);
          border: none;
          border: 1px solid var(--secondary-color);
          background: var(--light-color);
          padding: var(--spacer-xsmall);
          @include default-transition;
          &:hover {
            cursor: pointer;
            background: var(--primary-color);
            color: white;
          }
        }
      }
    }
  }
  &.all-my-updates {
    .no-updates-message {
      font-weight: bold;
      color: var(--primary-color);
      user-select: none;
      margin: var(--spacer-xxxlarge) 0;
      span {
        color: var(--secondary-color);
      }
    }
  }
}
