// Updates by date & tags
.all-updates-date,
.all-updates-tags {
  .content {
    .single-update {
      user-select: none;
      margin-bottom: var(--spacer-medium);
      .top-wrap {
        display: flex;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          .dash {
            margin: 0 var(--spacer-small);
          }
        }
        .remove {
          font-weight: bold;
          font-size: var(--font-large);
          padding: 0 var(--spacer-small);
          @include default-transition;
          &:hover {
            cursor: pointer;
            color: var(--primary-color);
          }
        }
      }
    }
  }
  &.all-updates-tags {
    .content {
      .single-update {
        .top-wrap {
          .left {
            .tags {
              display: flex;
              .tag {
                &:after {
                  content: ",";
                }
                &:last-child {
                  &:after {
                    content: "";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
