/*_variables.scss */

:root {
  --primary-color: #dd2f45;
  --secondary-color: #212121;

  --content-width: 1500px;
  --primary-font: "Quicksand", sans-serif;

  --light: 300;
  --medium: 500;
  --bold: 700;

  --default-size: 1.5rem;

  --font-xsmall: "0.5rem";
  --font-small: "0.8rem";
  --font-medium: "1.1rem";
  --font-large: "1.5rem";
  --font-xlarge: "2rem";
  --font-xxlarge: "2.5rem";
  --font-xxxlarge: "3.5rem";

  --spacer-xsmall: "0.25rem";
  --spacer-small: "0.5rem";
  --spacer-medium: "0.9rem";
  --spacer-large: "1.5rem";
  --spacer-xlarge: "2rem";
  --spacer-xxlarge: "2.5rem";
  --spacer-xxxlarge: "3rem";
  --spacer-xtralarge: "3.5rem";
}
