/*_variables.scss */

:root {
  --primary-color: #dd2f45;
  --secondary-color: #212121;

  --primary-font: "Quicksand", sans-serif;

  --content-width: 1500px;
  --header-height: 50px;
  --footer-height: 30px;

  --light-weight: 300;
  --medium-weight: 500;
  --bold-weight: 700;

  --default-size: 1.5rem;

  --font-xsmall: 0.5rem;
  --font-small: 1rem;
  --font-medium: 1.5rem;
  --font-large: 2rem;
  --font-xlarge: 3rem;
  --font-xxlarge: 4rem;
  --font-xxxlarge: 5rem;

  --spacer-xsmall: 0.3rem;
  --spacer-small: 0.8rem;
  --spacer-medium: 1.3rem;
  --spacer-large: 2rem;
  --spacer-xlarge: 2.5rem;
  --spacer-xxlarge: 3rem;
  --spacer-xxxlarge: 4rem;
}
