/*_variables.scss */
/* Body Text Styles */
$default-transition-duration: 250ms;
$default-background-size: cover;
$text-color: #000000;
$primary-font-weight: 300;
$primary-color: #ff6600;
$secondary-color: #f88e2f;
$defaultBack-color: #0f0f0f;
$main-content-width: 1000px;
$primary-font: "Quicksand", sans-serif;
$font-weight: 500;
$font-size: 1.5rem;
